[submodule "CWarriors_labware"]
	path = CWarriors_labware
	url = https://github.com/COVIDWarriors/CWarriors_labware.git
[submodule "CWarriors_Covid19"]
	path = CWarriors_Covid19
	url = https://github.com/COVIDWarriors/CWarriors_Covid19.git
